body{
    background-color: #111111;
    color: whitesmoke;
}
ul{
    position: relative;
    left: 35%;
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background: black;
    width: 20%;
}
li{
    float: left;
}
li a:hover{
    color: red;
}
li a{
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 14px 16px;
    text-align: center;
}
#loggedin {
    display: none;
}
#notloggedin {
    display: none;
}
.profile-pic{
    height: 50px;
    width: 70px;
}
.post{
    position: relative;
    top: 10px;
    left: 40%;
    width: 20%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input[type=password]:focus {
    border: 3px solid #555;
}
input{
    width: 100%;
    margin-bottom: 10px;
    display: block;
}
.inputs{
    width: 20%;
    position: relative;
    left: 35%;
    top: 10px;
}
.button{
    background-color: darkred;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover{
    background-color: black;
    color: whitesmoke;
}
@media (max-width: 768px){
    ul{
        left: 0;
        width: 100%;
    }
    .post{
        left: 0;
        width: 100%;
    }
    .inputs{
        width: 100%;
        left: 0;
    }
}
@media ( max-width: 1366px) and (min-width: 768px){
    .inputs{
        width: 95%;
        left: 0;
    }
    ul{
        left: 0;
        width: 100%;
    }
    .post{
        left: 0;
        width: 25%;
    }
}